* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  text-align: center;
  color: whitesmoke;
}

.fas {
  color: whitesmoke;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: .5em;

}

.sidebar {
  background-color: teal;
  display: flex;
  flex-direction: column;
}

.nav__links {
  margin-top: .5em;
  margin-left: 1em;
  padding-bottom: 1em;
  color: whitesmoke;
  line-height: 1.5em;
}

h3 {
  text-align: center;
}

.task__list {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 5em;
  left: 550px;
  bottom: 452px;
}
.btn__two {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  width: 41.1%;
}
button {
  width: 6.5em;
  font-size: 18px;
  border-radius: 1em;
  background-color: teal;
  margin-left: .5em;
}
h4 {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 40%;
}
.sub__cats {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  line-height: 2em;
  padding-left: 1em;
  width: 40%;
}
.list__main li{
  border-style: solid;
  margin: 1em;
  width: 58.4%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  margin-left: 1.5em;
  margin-top: 1em;
}
.user__name {
  margin-left: 1.5em;
  margin-top: .2em;
  color: whitesmoke;
  font-size: 10px;
}
